.venv/
__pycache__/
*.py[cod]
*.pt
runs/
.ipynb_checkpoints/
*.ipynb_checkpoints
*.tmp
*.swp
*.bak
data/products/**
!data/products/
!data/products/**/
!data/products/**/.gitkeep
!data/products/**/README.md
